/* =============================================================================
   Forms
   ========================================================================== */

fieldset {
    margin-bottom: $size__gutter;
}

legend {
    padding: 0.6rem 0.8rem;
    border: solid $content__bg-color;
    border-width: 0 2px;
    border-radius: 5px;
    background: $legend__bg;
    color: $legend__text-color;
}

/**
 * Inputs
 */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
textarea,
select {
    display: block;
    padding: 0.6rem;
    width: 100%;
    border: 1px solid $input__border-color;
    border-radius: $input__border-radius;
    background: $input__bg;
    box-shadow: inset 0 1px 1px rgba(#000, 0.075);
    color: $input__text-color;
    font-weight: $font__weight-regular;

    // Visual indication for disabled and readonly inputs
    &[disabled],
    &[readonly] {
        background-color: $color__gray-lighter;
        color: $color__gray-dark;
    }
}

input[type="range"] {
    display: block;
    width: 100%; // full width range inputs
}

input[type="color"] {
    padding: 0; // reset padding, otherwise the color is barely visible
}

input[type="search"] {
    box-sizing: border-box; // overwrites normalize.css
}


// File upload button
input[type="file"]::-webkit-file-upload-button {
    @extend .btn; // style it as a normal button
}


// Invalid inputs
input:invalid:focus {
    outline-color: $input__invalid-color;
}


/**
 * Labels
 */
label {
    display: block;
    font: {
        family: $label__font-family;
        weight: $label__font-weight;
        size: $label__font-size;
    }

    // Inputs inside labels
    > input {
        margin-top: $label__input-spacing;
    }

    .help,
    .required {
        padding-left: 0.2rem;
        color: $label__required-color;
        font-weight: normal;
        font-size: 90%;
    }
}


// Checkboxes and radios
.checkbox,
.radio {
    // Reset label font weight
    &, label {
        font-weight: inherit;
        cursor: pointer;
    }
}


/* Forms: Search form
   ========================================================================== */

.search-form {
    display: flex;

    input[type="search"] {
        flex: 3;

        // Remove right border-radius
        border-radius: 3px 0 0 3px;
        border-right-width: 0;

        // Move the input over the button when focused
        // so the outline is not under the button
        &:focus {
            z-index: 5;
        }
    }

    input[type="submit"] {
        flex: 1;

        // Remove left border-radius
        border-radius: 0 3px 3px 0;
    }
}

