/* Layout: Header
   ========================================================================== */

.site-header {
    padding: $size__gutter;
    text-align: center;

    @include breakpoint(screen-md) {
        display: flex;
        flex-direction: row;
        align-items: center; // Vertically center the header elements
        text-align: left;
    }
}

.site-title {
    flex: 3;

    a {
        color: $title__color;
        display: inline-block;
        font: {
            size: $title__size;
            weight: $title__weight;
        }
        text-shadow: 0 1px 0 $title__shadow;
        transition: all 200ms ease-in-out;

        &:hover,
        &:focus,
        &:active {
            color: darken($title__color, 10%);
            text-decoration: none;

            // Increase size when hovered
            transform: scale(1.06);

            // 3d shadow effect
            @include shadow($title__shadow, 5);
        }
    }
}

.site-description {
    flex: 2;

    font: {
        size: $description__size;
        weight: $description__weight;
    }

    @include breakpoint(screen-md) {
        text-align: right;
    }
}
